* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3E2A35;
}
/*=======================================
>>>>>>>>  Header  <<<<<<<<
========================================*/

h1 {
  background-color: #3E2A35;
  color: #FFFFFF;
  font-size: 53px;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 25px;
}

.header-cam-icon {
  height: 53px;
  vertical-align: top;
}
/*=======================================
>>>>>>>>  Main  <<<<<<<<
========================================*/

main {
  background: #3E2A35;
  height: 350px;
}

.inputs-wrapper {
  background: #3E2A35;
  max-width: 480px;
  margin: auto;
  padding: 10px;
}

label {
  color: #C2B2B4;
  font-weight: 200;
  display: block;
  padding-top: 26px;
}

#input-caption,
#input-title {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 45px;
  margin-top: 12px;
}
/*=======================================
>>>>>>>>  buttons  <<<<<<<<
========================================*/

.choose-add-btn-wrapper {
  text-align: center;
  margin-top: 39px;
}

#add-to-album-btn {
  background-color: #5B4447;
  color: #FFFFFF;
  width: 200px;
  height: 42px;
  font-size: 14px;
  text-align: center;
  line-height: 42px;
  border: 0px;
  padding: 0px;
  float: right;
}

#choose-file-btn {
  float: left;
}

#add-to-album-btn:hover {
  background-color: #C2B2B4;
  cursor: pointer;
}
/*=======================================
>>>>>>>>  Choose Button  <<<<<<<<
========================================*/

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  background-color: #5B4447;
  color: #FFFFFF;
  width: 210px;
  height: 42px;
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  line-height: 42px;
  padding: 0px;
  float: left;
}

.inputfile:focus+label,
.inputfile+label:hover {
  background-color: #938284;
}

/*=======================================
>>>>>>>>  Cards  <<<<<<<<
========================================*/
h2 {
  color: #938284;
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
}

h3 {
  color: #938284;
  font-size: 24px;
  padding: 25px 20px 10px 20px;
}

section {
  background-color: #C2B2B4;
  text-align: center;
  min-height: 275px;
}

.card-wrapper {
  background-color: #5b4447;
  border: 1px solid #938284;
  width: 197px;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
}

.card-header,
.card-content {
  background-color: #FFFFFF;
  color: #3E2A35;
  width: 100%;
  font-weight: 600;
  padding: 10px 10px 12px 10px;
  text-align: left;
}

.card-header {
  height: 40px;
  font-size: 20px;
}

.card-content {
  height: 70px;
}

.card-img {
  width: 100%;
  height: 121px;
  margin-bottom: -2px;
}

.card-icon-delete {
  width: 25px;
  margin: 7px;
  float: left;
}

.card-icon-delete:hover {
  opacity: 0.5;
}

.card-icon-delete-active {
  width: 25px;
  margin: 7px;
  float: left;
}

.card-icon-fav {
  width: 25px;
  margin: 7px;
  float: right;
}

.card-icon-fav:hover {
  opacity: 0.5;
}

.card-icon-fav-active {
  width: 25px;
  float: right;
  margin: 7px;
}
/*=======================================
>>>>>>>>  Footer  <<<<<<<<
========================================*/

#footer-creaters {
  max-height: 50px;
}

#footer-made-by {
  color: #938284;
  font-size: 12px;
  padding: 20px;
  float: right;
}
/*=======================================
>>>>>>>>  Responsive @ media  <<<<<<<<
========================================*/

@media screen and (max-width: 467px) {
  h1 {
    font-size: 35px;
    padding-top: 25px;
  }

  h2 {
    font-size: 18px;
    padding-top: 20px 20px 10px 20px;
  }

  h3 {
    font-size: 16px;
    padding: 25px 20px 10px 20px;
  }

  .header-cam-icon {
    height: 35px;
    vertical-align: top;
  }

  .inputs-wrapper {
    max-width: 480px;
    margin: auto;
    padding: 10px 20px 10px 20px;
  }

  #add-to-album-btn,
  .inputfile+label {
    width: 160px;
  }

  .card-wrapper {
    width: 85%;
    margin: 17px;
    margin-top: 27px;
  }

  .card-header {
    height: 68px;
    padding-top: 19px;
  }
  .card-footer {
    height: 78px;
  }
  .card-content {
    height: auto;
  }

  .card-header,
  .card-content {
    padding: 20px 20px 25px 20px;
    font-size: 26px;
  }

  main {
    height: 317px;
  }

  .card-img {
    height: 230px;
  }

  .card-icon-delete,
  .card-icon-fav,
  .card-icon-delete-active,
  .card-icon-fav-active, {
    width: 48px;
    margin: 13px;
  }
}

@media screen and (max-width: 467px) {
  main {
    height: 294px;
  }

  .header-cam-icon {
    height: 25px;
    vertical-align: top;
  }

  h1 {
    font-size: 28px;
  }

  label {
    padding-top: 15px;
  }

  #add-to-album-btn,
  .inputfile+label {
    width: 129px;
  }

  .label-title-caption {
    font-size: 15px;
  }

  .card-img {
    height: 210px;
  }

  .card-header,
  .card-content {
    font-size: 20px;
  }

  .card-header {
    height: 57px;
  }

  .card-icon-delete,
  .card-icon-fav,
  .card-icon-delete-active,
  .card-icon-fav-active, {
    width: 40px;
    margin: 13px;
  }
}
